html{
  scroll-behavior:smooth;
  }
.text-color_main {
  color: #02b3e4;
}

.text-color_gray {
  color: #3e454b;
}

.text-color_pink {
  color: #e83e8c;
}

.bg-color_main {
  background-color: #02b3e4;
}

.bg-color_lightblue {
  background-color: #e9fcff;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

.card {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.contain {
  height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-img {
  border: none;
  border-radius: 8px;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../img/bg-cta-bottom-36e5e2db4ec8228b536341261960e3254841276e1ed037038e0f28d36b5e85b4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__img {
  height: 150px;
  line-height: 1.5rem;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 8px;
  border: none;
}
.card__img img {
  border: none;
  border-radius: 8px 0px 0px 8px;
}

@media (max-width: 991px) {
  .card__img {
    height: 120px;
    line-height: 1rem;
  }
}
.gradient_background {
  position: absolute;
  height: 600px;
  width: 100%;
  background: #02e4e2;
  background: linear-gradient(155deg, #02e4e2 0%, #7f51ff 70%, #ca75ee 96%);
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0 100%);
  z-index: -1000;
}

a.link {
  transition: color 0.15s ease-in-out, color 0.15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #eee;
  text-decoration: none;
}
a.link:hover {
  color: #cfcfcf;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  background-color: #02b3e4;
  box-shadow: 0px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover {
  color: #e0e0e0;
}
.button:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  background-color: #02bbee;
}

nav {
  font-weight: 400;
  color: white;
}
nav .navbar-toggler {
  border: none;
  outline: none;
}
nav .brand {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

main .partners_featured {
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(110deg) brightness(98%) contrast(97%);
}
main .partners_featured:hover {
  filter: invert(64%) sepia(63%) saturate(3720%) hue-rotate(153deg) brightness(94%) contrast(98%);
}
main div.community .carousel-fade .active.carousel-item-left,
main div.community .carousel-fade .active.carousel-item-right {
  transition: opacity 0s 0.2s;
}
main div.community .carousel-control-prev-icon, main div.community .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}
main div.community .carousel-control-prev-icon {
  background-image: url("../img/icon-flexslider-left-blue-e2e6d5da2adeb2c911cb494dbd1e895ecb6604ec82b7358561034e53080dac1a.svg");
}
main div.community .carousel-control-next-icon {
  background-image: url("../img/icon-flexslider-right-blue-ed2883be5aaa060406fe0c6f0b6988249841a6919cb36cd52656ece83313f64b.svg");
}
main .nanodegree-cards img.partners {
  height: 2.5rem;
}

.container.discover_program .arrow {
  position: relative;
  display: inline-block;
  background-color: #02b3e4;
  border-radius: 50%;
  box-shadow: 5px 6px 25px 0px rgba(46, 61, 73, 0.5);
  transition: all 0.2s ease-out;
  padding: 1.75rem;
}
.container.discover_program .arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.75rem;
  height: 1.75rem;
}
.container.discover_program .arrow:hover {
  box-shadow: 5px 5px 15px 0px rgba(46, 61, 73, 0.5);
}

section.contain {
  height: 400px;
  background: #02b4e3;
  background: linear-gradient(129deg, #02b4e3 0%, #02ccba 96%);
}
section.contain img {
  height: 4.5rem;
}

section.advantage .img-shadow-right {
  box-shadow: 5px 6px 25px 0px rgba(46, 61, 73, 0.2);
}
section.advantage span.rounded-icon {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 6px 25px 0px rgba(46, 61, 73, 0.5);
  transition: all 0.2s ease-out;
  padding: 2.5rem;
  box-shadow: 5px 6px 25px 0px rgba(46, 61, 73, 0.2);
}
section.advantage span.rounded-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
}
section.advantage span.rounded-icon.last-icon img {
  width: 3.5rem;
  height: 3.5rem;
}
section.advantage .img-bg {
  position: relative;
}
section.advantage .img-bg img.img-append {
  position: absolute;
}
section.advantage .img-bg img.img-append.img-left {
  right: 0%;
  transform: translate(25%, -50%);
}
section.advantage .img-bg img.img-append.img-right {
  left: 0%;
  transform: translate(-25%, -70%);
}

@media (max-width: 767.98px) {
  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.75rem;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .h4 {
    font-size: 1.25rem;
  }

  .h5 {
    font-size: 1rem;
  }

  .h6 {
    font-size: 0.75rem;
  }

  .container.discover_program .arrow {
    padding: 1rem;
  }
  .container.discover_program .arrow img {
    width: 1rem;
    height: 1rem;
  }

  section.contain img {
    height: 4rem;
  }

  section.advantage {
    max-width: 480px;
  }
}
@media (max-width: 575.98px) {
  nav {
    background: #02e4e2;
    background-image: linear-gradient(140deg, #02e4e2 0%, #7f51ff 80%, #cb51ff 100%);
  }

  main div.community .carousel-control-prev-icon, main div.community .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  section.contain img {
    height: 3.5rem;
  }
}
@media (min-width: 479px) {
  .row-cols-ss-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 576px) {
  .row-cols-sm-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .row-cols-md-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  section.advantage {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .row-cols-lg-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  section.advantage {
    max-width: 1200px;
  }
  section.advantage .img-bg {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
